body {
  margin: 0px;
}

.navbar {
  background-color: rgb(0, 0, 51);
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url(https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/hero-cruise.png?raw=true);
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo img {
  height: 50px;
  width: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 8px;
}

.hero h1,
.hero p {
  margin: 0px;
  color: white;
}

.hero button {
  background-color: orangered;
}

.discover {
  padding-left: 5px;
}

.Banner {
  padding-top: 5px;
  position: relative;
}

.heading {
  border-left: 5px solid #e75b23;
  padding-left: 10px;
}

.popular {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pills {
  display: flex;
  justify-content: space-between;
}

.pill img {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin: 2px;
}

.pill {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 25%;
  display: flex;
  align-items: center;
  margin: 5px;
  width: 150px;
  height: 30px;
  justify-content: center;
}

.Banner img {
  width: 100%;
  object-fit: cover;
}

.cards {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.card {
  margin: 1%;
  position: relative;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookmark {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
}

.bookmark img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: absolute;
  left: 1%;
  bottom: 1%;
}

.description h3 {
  color: white;
}

#contact{
    text-align: center;
    margin-bottom: 5%;
    align-items: center;
}

#contact h3{
    display: inline-block;
    margin-bottom: 8px;
    border-bottom: 4px solid orange;
}

.contact_info{
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
}

.contact_information{
    border: 1px solid black;
    width: 48%;
    height: 50%;
}

.hours_of_Operation{
    border: 1px solid black;
    height: fit-content;
    width: 48%;
    height: 50%;
}

.footer{
    background-color: rgb(41, 4, 76);
}

.footer h3{
    color: rgb(252, 151, 8);
    /* margin: 0px; */
}

.footer p{
    color: white;
    margin: 0px;
}

.page_info{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

.top_destinations, .travel_interests, .about_us, .xcruise{
    display: flex;
    flex-direction: column;
}


.social-icons{
    display: flex;
}


.footer_image img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.footer_rights{
    text-align: center;
    border-top: 1px solid white;
    padding-bottom: 2%;
}